p, li {
    font-size: 18px;
    line-height: 33px;
}
h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend {
    font-family: 'Book Antiqua', 'Palatino Linotype', 'NanumMyeongjo', 'FreeSerif', 'Book Antiqua', Palatino, serif;
}
h1 {
    border-bottom: 3px solid;
}
h2 {
    border-bottom: 2px solid;
}
body {
    font-family: 'Book Antiqua', 'Palatino Linotype', 'NanumMyeongjo', 'FreeSerif', 'Book Antiqua', Palatino, serif;
    font-size: 18px;
    line-height: 33px;
    counter-reset: listing;
}
.rst-content .highlight>pre {
    line-height: 1.5;
}
.code-block-caption::before {
    counter-increment: listing;
    content: "Listing " counter(listing) ": ";
}
.code-block-caption {
    font-family: 'Consolas', 'courier new', 'courier', monospace;
    font-size: 15px;
}
code, .rst-content tt, .rst-content code {
	border: none;
	font-size: 90%;
    color: black;
    font-weight: bold;
    padding: 0;
    background: transparent;
}

.rst-content div[class^='highlight'] {
    border-style: solid;
    border-width: 2px 0 2px 0;
    background: #FCFCFC;
}

.rst-content div[class^='highlight'] pre {
    white-space: pre;
    margin: 0;
    padding: 12px 12px;
    font-family: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
    font-size: 14px;
    line-height: 1.5;
    display: block;
    overflow: auto;
    color: #404040;
}


.headerlink {
    visibility: hidden;
}
.rst-content code.literal {
	color: black;
    font-weight: bold;
}
.wy-menu-vertical a {
    font-size: 75%;
}
.wy-nav-content-wrap {
    background: #fff;
}
.wy-nav-content {
    padding: 1.5em;
}

.toctree-wrapper .toctree-l1 {
    list-style-type: none;
    margin-left: 18px;
}

.toctree-wrapper .toctree-l2 {
    list-style-type: none;
}
.wy-side-nav-search, .wy-nav-top {
    background-color: #931a2a;
}
.wy-menu-vertical {
    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
}
.wy-plain-list-disc, .rst-content .section ul, .rst-content .toctree-wrapper ul, article ul {
    list-style: disc;
    line-height: 30px;
    margin-bottom: 30px;
}
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}
.highlight .c1 {
    color: #28811f;
}
.highlight .bp {
    color: #004bd7;
}
.highlight .sd {
    font-style: normal;
    color: #a23030;
}
.highlight .k {
    font-weight: bold;
    color: black;
}

img.right-image {
   float: right;
}

.rst-content .section a > img.video-image-h1 {
    width: 50px;
    position: absolute;
    margin-left: 698px;
    margin-top: -74px;
}

.rst-content .section a > img.video-image-h2 {
    width: 50px;
    position: absolute;
    margin-left: 698px;
    margin-top: -67px;
}